body {
    font-family: 'Josefin Sans', sans-serif;
}

main {
    display: grid;
    margin: 2% auto;
    max-width: 80%;
    height: 100%;
    text-align: center;
}

#main-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
}

#button-bar {
    margin: 3% auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

#button-bar .button-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 1% 5%;
    height: 5%;
    text-align: center;
    background-color: rgb(44, 69, 102);
    color: #DDD;
    font-size: 1.5em;
    /*flex-grow: 1;*/
    height: 2em;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 1% 0;
    text-align: center;
    background-color: rgb(44, 69, 102);
    color: #DDD;
    font-size: 1.5em;
    /*flex-grow: 1;*/
    height: 2em;
}

#project {
    display: flex;
    margin: 0 auto;
    width: auto;
    font-size: 1.5em;
    flex: 1;
    justify-content: center;
}

#project-name {
    width: auto;
}